# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Dist Folder
dist/

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Debug Files
*.swp
*.swo
*.bak
